.product {
    border: 1px solid #95A0A7;
    /* padding: 10px; */
    margin: 10px;
    width: 300px;
    height: 510px;
    border-radius: 10px;
    position: relative;
}

.product img {
    width: 286px;
    height: 286px;
    border-radius: 10px;
    margin: 7px;
}

.product p {
    margin: 5px;
}

.product name {
    font-family: 'Lato';
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.product h4 {
    margin: 15px 5px;
}

.product-info {
    padding: 0 10px;
}

.btn-cart {
    width: 100%;
    background: #FFE0B3;
    padding: 15px;
    border: none;
    border-radius: 0 0 8px 8px;
    position: absolute;
    bottom: 0;
    font-size: large;
    font-weight: bold;
}

.btn-cart:hover {
    background-color: orange;
    color: bisque;
}