.header-container {
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;

}

.header-container a {
    color: aliceblue;
    text-decoration: none;
    margin-right: 20px;
    padding: 8px 15px;
}

.header-container a:hover {
    background-color: antiquewhite;
    color: #1C2B35;
    border-radius: 10px;
}

.btn-logout {
    color: #1c242c;
    padding: 10px 15px;
    background-color: aliceblue;
    border-radius: 5px;
}

.btn-logout:hover {
    background-color: #326c91;
    color: #cfe2f5;
}